global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'mbrokerbench'
    metrics_path: /metrics
    static_configs:
      - targets: ['mbrokerbench:1234']

  - job_name: 'pushgateway'
    metrics_path: /metrics
    static_configs:
      - targets: ['pushgateway:9091']

  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
